<div class="page-header">
  <mat-toolbar class="main-toolbar toolbar" [class.is-mobile]="isXSmall">
    <button
      type="button"
      [hidden]="!isXSmall"
      mat-icon-button
      (click)="sidebarHandle.toggle()"
      >
      <mat-icon>menu</mat-icon>
    </button>
    @if (dashboardRoute) {
      <a
        mat-icon-button
        [routerLink]="dashboardRoute"
        aria-label="Randomizers dashboard"
        >
        <mat-icon>apps</mat-icon>
      </a>
    }
    <span class="app-name text-xl">
      @if (!isXSmall) {
        <span>{{
          (titlePrefix + "app-title") | transloco
        }}</span>
      } @else {
        <span class="text-xl">{{ (titlePrefix + "app-title-short") | transloco }}</span>
      }

    </span>

    <span class="spacer"></span>
    <app-language-selector></app-language-selector>
  </mat-toolbar>
</div>
