<div class="page-header">
  <mat-toolbar class="main-toolbar toolbar" [class.is-mobile]="isXSmall()">
    @if (sidebarHandleRef) {
      <button
        type="button"
        [hidden]="!isXSmall()"
        mat-icon-button
        (click)="sidebarHandleRef.toggle()"
        >
        <mat-icon>menu</mat-icon>
      </button>
    }
    @if (dashboardRouteRef) {
      <a
        mat-icon-button
        [routerLink]="dashboardRouteRef"
        aria-label="Randomizers dashboard"
        >
        <mat-icon>apps</mat-icon>
      </a>
    }
    <span class="app-name text-xl">
      @if (!isXSmall()) {
        <span>{{
          (titlePrefixRef + "app-title") | transloco
        }}</span>
      } @else {
        <span class="text-xl">{{ (titlePrefixRef + "app-title-short") | transloco }}</span>
      }

    </span>

    <span class="spacer"></span>
    <app-language-selector></app-language-selector>
  </mat-toolbar>
</div>
